%h1= "Game #{game.id}"

= link_to 'Back to game list', routes.games_path

%dl
  %dt Current player:
  %dd= game.current_player

  %dt Current roll:
  %dd= game.current_dice_roll

  = form_for :game, routes.stop_game_path(game.id) do
    - submit 'End turn'

  = form_for :game, routes.continue_game_path(game.id) do
    - submit 'Continue turn'

  - unless game.started?
    = form_for :game, routes.start_game_path(game.id) do
      - submit 'Start game'

.board
  - Game::ROW_LENGTHS.each_with_index do |column_length, column_index|
    .board-column
      - column_length.times do |row_index|
        %div{class: "board-row #{player_classes(column_index, row_index + 1)} #{runner_class(column_index, row_index + 1)}"}
          = column_index + 2
